html, body {
    height: 100%;
}
body {
  margin: 0;
}

body {
    font-family: Helvetica, Arial, sans;
    overflow: hidden;
}

main {
  padding: 0.5rem;
}

h1 {
    margin: 0 0 0.5rem 0;
}

p {
    margin: 0.5rem 0;
}

#install {
  font-size: 1rem;
}

#install.hidden {
  display: none;
}

#gameBoard{
    background-image: -o-linear-gradient(left top, #2EB1F7 10%, #DFF0ED 78%);
    background-image: -moz-linear-gradient(left top, #2EB1F7 10%, #DFF0ED 78%);
    background-image: -webkit-linear-gradient(left top, #2EB1F7 10%, #DFF0ED 78%);
    background-image: -ms-linear-gradient(left top, #2EB1F7 10%, #DFF0ED 78%);
    background-image: linear-gradient(to left top, #2EB1F7 10%, #DFF0ED 78%);

    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;
}

#inputPanel{
  position:absolute;
    left:0px;
    bottom:0px;
  z-index: 2;
  background-color:black;
}
canvas {
  display: block;
}

